body { 
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("media/dec_wp.jpg");
    background-size: cover;
    background-repeat: no-repeat center center;
    background-attachment: fixed;   
}
header {
    background-color: rgba(255, 255, 255, 0.500);
    border: none;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
}
h1 {
    color: rgba(101, 211, 255, 0.500);
    text-shadow: 4px 5px 4px rgb(0, 0, 0, 0.500);
    font-size: 65px;
    font-weight: bold;
}
.CONNECTED-AS {
    background-color: rgba(255, 255, 255, 0.500);
    border: none;
    display: flex;
    flex-direction: column;
}
.CONNECTED-AS span {
    color: rgba(75, 75, 75, 0.600);
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.CONNECTED-AS form {
    display: flex;
    justify-content: center;
}
#btnDeco,
#btnDeco::after {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#btnDeco {
    background-color: white;
    border: 1.5px solid rgba(75, 75, 75, 0.600);
    border-radius: 4px;
    color: rgba(75, 75, 75, 0.600);
    margin: 10px auto;
}
#btnDeco:hover {
    background-color: rgba(101, 211, 255, 0.700);
    color: rgba(182, 0, 112, 0.5);
    font-weight: bold;
    font-size: 15px;
}

.CHOICES {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: left;
    display: flex;
}

#btn {
    background: none;
    width: 250px;
    height: 60px;
    border: 4px solid rgba(35, 199, 228, 0.781);
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.500);
    font-size: 20px;
    font-weight: bold;
    color: rgba(35, 199, 228, 0.781);
    transition: .3s linear;
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.500);

}
#btn:hover {
    color: rgba(224, 4, 140, 0.747);
    border: 4px solid rgba(224, 4, 140, 0.747);

}
#btn:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 55px;
    top: 0px;
    left: 0px;
    background-color: black;
    z-index: -1;
    transition: .3s linear;
}
#btn:hover:before {
    width: 245px;
}
.deleteFormaMsg {
    background-color: rgba(255, 255, 255, 0.500);
    border: none;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    color: rgba(83, 83, 83, 0.800);
    font-size: x-large;
}